.content {
    width: 1440px;
    margin: 0 auto;
    padding: 92px 50px 0 50px;
}

.header__logo {
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 129.11px;
    height: 104.65px;
}
.header {
    margin-bottom: 92px;
}

.header__content {
    width: 1340px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 6px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
}

.header__link_active {
    text-decoration: underline;
}

.header__address {
    font-style: normal;
}
.address {
    justify-self: end;
    line-height: 24.3px;
}

.cover {
    padding: 0;
}

.cover__image {
    display: block;
    
    height: 757px;
}