.content {
    margin: auto;
}

.header {
    margin-top: 92px;
    height: 109px;
    width: 1340px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__logo-image {
    display: block;
    height: 105px;
}

.header__links-list {
    display: flex;
    justify-content: start;
    gap: 32px;
}

.header__link_active {
    text-decoration: underline;
    text-underline-offset: 5px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    text-decoration: none;
    list-style: none;
}

.address {
    justify-self: end;
    line-height: 24.3px;
}

.header__address{
    font-style: normal;
}